{
  "harvest": {
    "subdomain": "samundra",
    "email": "samundrak@yahoo.com",
    "password": "br0adlink",
    "project_id": "11113607",
    "task_id": "6176676"
  },
  "project": {
    "location": "C:\\Users\\samundra\\nomail"
  }
}