ul.list-group
    li.list-group-item
        div
            a(ui-sref='home') Dashboard
    //li.list-group-item
    //    div Application
    //li.list-group-item
        div Git
    li.list-group-item
        div
            a(ui-sref='settings') Settings