.row
    .col-md-12
        div.alert.alert-info
            strong Application Configuration
        div
            include sub_partials/application_config
hr
.row
    .col-md-12
        div.alert.alert-danger
            strong Stop your app
            div.btn.btn-danger.pull-right(ng-click="stopApp()")
                | STOP
.row
    .col-md-12
        div.alert.alert-warning
            strong Ping Your Project, It will Start or Stop your project if its on halt
            div.btn.btn-success.pull-right(ng-click="pingApp()")
                | PING
//.row
    .col-md-12
        div.alert.alert-success
            strong Restart your app
            div.btn.btn-success.pull-right(ng-click="restartApp()")
                | Restart